<html>
<body>
	<form action="/produtos/salva" method="post">
		<div>
			<label for="titulo">Titulo</label>
			<input type="texto" id="titulo" name="titulo" placeholder="Coloque o titulo"/>
		</div>
		<div>
			<label for="preco">Preco</label>
			<input type="texto" id="preco" name="titulo" placeholder="Coloque o valor"/>
		</div>
		<div>
			<label for="descricao">Descricao</label>
			<textarea cols="20" rows="10" type="texto" id="descricao" name="descricao" placeholder="Fale sobre o livro"></textarea>
       </div>
		<div>
			<input type="submit" value="gravar"/>
		</div>
	</form>
</body>
</html>